{% extends 'base.html' %}
{% load static %}

{% block body %}

<header class="masthead bg-danger text-white text-center  " id="kutu">
            <div class="container    d-flex align-items-center flex-column  " >
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{%static 'img/3.svg'%}" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Ben Kimim</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Front-End ve Back-End Developer</p>
            </div>
        </header>
        <br><br><br><br><br><br><br><br><br><br>

        <section>
         <div class="sol-kutu">
        <div class="hk">
            <h1 class="h" >HAKKIMDA</h1>
            <div class="foto">
                <img src="{%static 'img/about.jpg'%}" alt="">
            </div>
            <div class="ay"></div>
            <p class="alt">Oğuz Kaan Ekin <br><br> Software Developer</p>
            <p class="yaz">Merhaba ben Oğuz Kaan Ekin, 18 yaşındayım,Karaman'da yaşıyorum. <br> Akdeniz Üniversitesi bilgisayar programcılığı 1.sınıf öğrencisiyim. Bilgisayarla uğraşmayı ve mekanik , yapay zeka , site kodlama gibi aktiviteleri seviyorum. <br>Genellikle Python ve HTML CSS gibi diller üzerinde çalısmakta ve bunların freamworkleri hakkında çalısmaktayım.Yeteneklerim :</p>
            <ul class="liste">
                <li>Tasarım konusunda  iyi olmaya çalısıyorum.</li>
                <li>Hızlı kod yazabilme</li>
                <li>Sevdiğim işi yapmakta olduğum için araştırma yapmayı severim</li>
            </ul>

            <pre><table class="tab">
                <tr>
                   <td>İngilizce : </td>
                   <td>A2</td>
                </tr>
                <tr>
                   <td>Türkçe :</td>
                   <td>Genel Türkçe</td>
                </tr>
                <tr>
                    <td>Yazılım Dilleri : </td>
                    <td>Python , HTML , CSS , C#(öğrenme aşamasındayım) </td>
                 </tr>
                 <tr>
                    <td>Öğrenme Aşamasında :  </td>
                    <td>C#,Unity,Pixelart </td>
                 </tr>
                </pre></table>
        </div>
    </div>
    
    

    
        </section>

{% endblock body %}