{% extends "base.html" %}
{% load static  %}
{% block body %}



<div class="page-content ">
		<div class="form-v7-content">
			<div class="form-left">
				<img src="{%static 'img/12.jpg'%}" alt="form">
				<p class="text-1">Üye Ol</p>
				<p class="text-2"> <a href="#" style="color:white;">Gizlilik Sözleşmesi</a> </p>
			</div>
			<form class="form-detail " action="#" method="post" id="myform">
                {% csrf_token %}
				<div class="form-row">
					<label for="username">Kullanıcı Adı</label>
					{{form.username}}
				</div>
				<div class="form-row">
					<label for="your_email">E-mail</label>
					{{form.email}}
				</div>
				<div class="form-row">
					<label for="password">Şifre</label>
					{{form.password}}
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Kayıt Ol">
					<p>Yada<a href="/user/login">Giriş Yap</a></p>
				</div>
			</form>
		</div>
	</div>
    

    





{% endblock body %}
